body {
  color: white;
  font-family: 'Chivo', sans-serif;
  color: #FF6666;
  background: #fffdfd;
}

.container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
  margin-top: 5em;
}

.app {
  flex: 1 0 auto;
  width: 70%;
  margin: auto;
  padding: 2em;
  border-radius: 10px;
  background: #ffefef;
  -webkit-box-shadow: 11px 10px 22px -5px rgba(117,117,117,1);
  -moz-box-shadow: 11px 10px 22px -5px rgba(117,117,117,1);
  box-shadow: 11px 10px 22px -5px rgba(117,117,117,1);
}

h1 {
  font-family: 'Rancho', cursive;
  font-size: 4em;
  color: #6666ff;
}

.loading {
  font-size: 5em;
  text-align: center;
}

.quoteBox {
  text-align: center;
}

.quoteMarks {
  font-size: 1.5em;
}

.quoteText {
  font-family: 'Satisfy', cursive;
  font-size: 4em;
  font-weight: 700;
}

.movieText {
  font-size: 2em;
  font-weight: 200;
}

.buttons {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
  color: white;
}

button {
  margin: 1em;
  padding: 0.3em 1em;
  font-size: 1.5em;
  border: none;
  font-weight: 200;
  border-radius: 0.5em;
  background: #6666ff;
  color: white;
}

button:hover {
  background: #FF6666;
  cursor: pointer;
}

.button-icon {
  margin-top: 0.3em;
}
