body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: tomato;
  color: white;
  padding: 150px;
}
